 @import url('//fonts.googleapis.com/css?family=Inconsolata');

body, input, select, label {font-family: "Inconsolata", sans-serif}
i {color: #E71}
h2 {
  font-family: sans-serif; 
  font-weight: lighter;
}

form {
  float: left; 
  width: 100%;
  margin-bottom: 1em;
}

input {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: .1em;
  padding: .5em;  
  cursor: pointer;
  font-size: 15px;
}
license p{
  text-align: center;
  font-family: "Inconsolata";
  font-weight: bold;
  color: blue;  
}
input[type='text'], 
input[type='email'],
input[type='password'],
select {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;     
  border-radius: 4px;
}
input[type='text']:focus, input[type='text']:hover, 
input[type='email']:focus, input[type='email']:hover,
input[type='password']:focus, input[type='password']:hover,
select:focus, select:hover {
  outline: 0;
  border-color: #19e;
}

input[type='submit'], input[type='reset'] {
  border-radius: 4px;
  font-size: 16px;
  margin: .1em;
  border: 0;  
  color: #fff;
}

input[type='submit'] {
  background-color: #07e;
}

input[type='reset'] {
  background-color: #e41;
}

input[type='submit']:focus, input[type='submit']:hover {
  outline: 0;
  background-color: #05c;
}
input[type='reset']:focus, input[type='reset']:hover {
  outline: 0;
  background-color: #c30;
}

input[disabled] {
  cursor: default;
  background-color: #ccc;
}
input[disabled]:focus, input[disabled]:hover {
  background-color: #ccc;
}

label {
  display: inline-block;
  cursor:pointer;
  margin: .1em;
  padding: .5em;  
  font-family: sans-serif;
  color: #888;
  font-size: 15px;
}

select {
  padding: .5em;  
  cursor:pointer;
  font-family: sans-serif;
}

/*data columns*/
*[data-columns] {
  float: left;  
}
*[data-columns*='1'] {
  width: calc(100% - .2em);    
}
*[data-columns*='2'] {
  width: calc(50% - .2em);
}
*[data-columns*='3'] {
  width: calc(33.332% - .2em);
}
*[data-columns*='4'] {
  width: calc(25% - .2em);
}
*[data-columns*='5'] {
  width: calc(20% - .2em);
}
*[data-columns*='6']{
  width: calc(16.665% - .2em);
}
*[data-columns*='7']{
  width: calc(14.284% - .2em);
}
*[data-columns*='8']{
  width: calc(12.5% - .2em);
}
*[data-columns*='9']{
  width: calc(11.110% - .2em);
}
*[data-columns*='10']{
  width: calc(10% - .2em);
}
*[data-columns*='left']{
  clear: left;
}
*[data-columns*='right']{
  clear: right;
}
*[data-columns*='both']{
  clear: both;
}
/*data columns*/

/*input validation*/
input[type='text']:invalid,
input[type='email']:invalid,
input[type='password']:invalid {
  border-color: #e41;
  background-color: #fed;
}
/*end actions  ""*/